<?xml version="1.0" encoding="UTF-8" ?>   
    <!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="me.liuhui.mall.repository.dao.OrderDao">

	<resultMap id="BaseResultMap" type="me.liuhui.mall.repository.model.Order">
        	    <id column="id"  property="id" />
	       		<result property="productId" column="product_id"/>
	       		<result property="status" column="status"/>
	       		<result property="totalAmount" column="total_amount"/>
	       		<result property="payAmount" column="pay_amount"/>
	       		<result property="totalQuantity" column="total_quantity"/>
	       		<result property="consumerUserId" column="consumer_user_id"/>
	       		<result property="consigneeCellphone" column="consignee_cellphone"/>
	       		<result property="consigneeName" column="consignee_name"/>
	       		<result property="consigneeAddress" column="consignee_address"/>
	       		<result property="createTime" column="create_time"/>
	</resultMap>

<sql id="BaseColumnList">
id,no,status,total_amount,pay_amount,refund_amount,total_quantity,consumer_user_id,consignee_tel,consignee_cellphone,consignee_name,consignee_address,create_time,pay_time,logisticid,logistic_no
		</sql>

	<select id="sumAmount"  resultType="double">
		select sum(pay_amount) from o_order
		<where>
			<if test="status != null">
				status = #{status}
			</if>
		</where>
	</select>

	<select id="countOrder" resultType="me.liuhui.mall.repository.model.dao.DateCount">
		select date_format(create_time, '%Y-%m-%d') date, count(1) num from o_order
		<where>
			<if test="minCreateTime != null">
				<![CDATA[
					and o_order.create_time >= #{minCreateTime}
	    		]]>
			</if>
			<if test="maxCreateTime != null">
				<![CDATA[
					and o_order.create_time <= #{maxCreateTime}
		    	]]>
			</if>
		</where>
		group by date
	</select>


	<select id="selectByNo" resultMap="BaseResultMap" parameterType="String">
	   select 
   			 <include refid="BaseColumnList"/>
   		from
	        o_order 
	     where no = #{no}
    </select>

	<select id="dataAnalse" resultType="me.liuhui.mall.repository.model.dao.OrderAnalyse">
		select name,price,(price - cost_price)as profit, num
		from p_product p
		right join
		(select product_id ,sum(total_quantity)as num
		from o_order o
		<where>
			<if test="minCreateTime != null">
				<![CDATA[
					and create_time >= #{minCreateTime}
	    		]]>
			</if>
			<if test="maxCreateTime != null">
				<![CDATA[
					and create_time <= #{maxCreateTime}
		    	]]>
			</if>
		</where>
		group by product_id)t
		on p.id = t.product_id
	</select>


</mapper>

